body{
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.main-container{
    border: 1px solid;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    width: 33%;
    height: 62vh;
    background-color: rgba(0, 0, 0, 0.785);
}

/* DISPLAY SCREEN */
.display-screen{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100px;
    margin: 25px auto;
}
.display-screen input{
    border: none;
    outline: none;
    border-radius: 15px;
    width: 80%;
    height: 100%;
    background-color: #b7e994e1;
    text-align: right;
    font-size: 2em;
    padding: 5px 15px;
}

/* NUMBERS AND OPERATORS */
.numbers-operators-main-container{
    /* border: 1px solid white; */
    width: 100%;
    height: 100%;
}
.row-containers{
    width: 100%;
    display: flex;
    justify-content: center;
}
.row-containers button{
    border: none;
    outline: none;
    border-radius: 10px;
    width: 80px;
    height: 50px;
    margin: 8px;
    font-size: 2em;
    font-weight: bold;
    background-color: lightgray;
}
.row-containers .operators{
    background-color: #a4b0be;
}
.row-containers .operators:hover{
    background-color: #ced6e0;
}
.row-containers .equal{
    background-color: orange;
}
.row-containers .equal:hover{
    background-color: #f6b93b;
}
.row-containers button:hover{
    background-color: white;
}
.row-containers button:active{
    transform: scale(1.1);
}
